html {
  font-size: 10px;
  font-family: Oswald;
}

#main {
  text-align: center;
  font-size: 2rem;
  margin: 2rem 2rem;
  padding: 1rem;
  background: lightgray;
  border-radius: 2rem;
}

h1 {
  font-size: 5rem;
  margin: 0rem;
}

h3 {
  font-size: 2rem;
  text-align: center;
}

#image {
  max-width: 50%;
  max-height: auto;
  border-radius: 1rem;
}

figcaption {
  font-size: 1.5rem;
}

#tribute-info {
  margin: 5rem 10rem;
  font-size: 2rem;
  text-align: left;
}

@media (max-width: 600px) {
  #image {
    max-width: 100%;
  }

  #tribute-info {
    margin: 0rem;
  }
}
